<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel='stylesheet' href='/public/css/main.css'>
    <nav>
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/trips">Trips</a>
        <a href="/rockets">Rockets</a>
        <a href="/excursions">Excursions</a>
        <a href="/orders">Orders</a>
        <a href="/orders_trips">Orders_Trips</a>
    </nav>
</head>
<body>
    {{{body}}}
</body>
</html>