<h2>Update Customer</h2>
<form id="update-customer-form">
    
    <label for="input-customer-update">customerID:</label>
    <select name="input-customer-update"  id="input-customer-update" >
        <option value=""></option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.customerID}}</option>
        {{/each}}
        </select><br>

    <label for="input-name-update">name: </label>
    <input type="text" name="input-name-update" id="input-name-update"><br>

    {{!-- <input type="text" name="input-name" id="input-name"><br> --}}
    
    <label for="input-email-update">email: </label>
    <input type="text" name="input-email-update" id="input-email-update"><br>

    <label for="input-phoneNum-update">phoneNum: </label>
    <input type="number" name="input-phoneNum-update" id="input-phoneNum-update"><br>
    
    {{!-- <td><button onclick="updateTrip({{this.customerID}}, input-name-update, input-email-update, input-phoneNum-update)">Update</button></td> --}}
    <input type="submit"><br>
</form>
<a href="/customers">Return to Customers</a>

<script src="./js/update_customer.js"></script>