
<h2>Add Customer</h2>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-name">name: </label>
    <input type="text" name="input-name" id="input-name"><br>
    
    <label for="input-email">email: </label>
    <input type="text" name="input-email" id="input-email"><br>

    <label for="input-phoneNum">phoneNum: </label>
    <input type="number" name="input-phoneNum" id="input-phoneNum"><br>

    <input type="submit" value="Add Customer"><br>
</form>
<a href="/customers">Return to Customers</a>