<h2>Update Excursion</h2>
<form id="update-excursion-form">
    
    <label for="input-excursion-update">excursionID:</label>
    <select name="input-excursion-update"  id="input-excursion-update" >
        <option value=""></option>
        {{#each excursions}}
        <option value="{{this.excursionID}}">{{this.excursionID}}</option>
        {{/each}}
        </select><br>

    {{!-- <label for="input-excursion-update">excursionID:</label>
    <input type="text" name="input-excursion-update" id="input-excursion-update"><br> --}}

    <label for="input-description-update">description: </label>
    <input type="text" name="input-description-update" id="input-description-update"><br>

    {{!-- <input type="text" name="input-name" id="input-name"><br> --}}
    
    <label for="input-price-update">price: </label>
    <input type="text" name="input-price-update" id="input-price-update"><br>

    <label for="input-additionalDays-update">additionalDays: </label>
    <input type="number" name="input-additionalDays-update" id="input-additionalDays-update"><br>
    
    <input type="submit"><br>
</form>
<a href="/excursions">Return to Excursions</a>

<script src="./js/update_excursion.js"></script>