<body>
    <header>
        <h1>
            Cosmic Horizons Management System
        </h1>
    </header>

    <h3>
        This management system provides the ability to view the contents of all of the tables listed above. <br>
        Rows can be added, updated, and deleted in the Trips, Rockets, Excursions, and Orders_Trips tables. <br>
        Rows can be added and updated in the Customers and Orders tables.
    </h3>
</body> 
