<h1>Add Rocket</h1>
    <form id="add-rocket-form" method="POST" action="/add-rocket-form">
        <label for="input-make">make:</label>
        <input type="text" id="input-make" name="input-make" maxlength="45"><br>
        <label for="input-model">model:</label>
        <input type="text" id="input-model" name="input-model" maxlength="45"><br>
        <label for="input-capacity">capacity:</label>
        <input type="number" id="input-capacity" name="input-capacity"><br>
        <label for="input-rocket_price">price:</label>
        <input type="number" id="input-rocket_price" name="input-rocket_price" step="0.01"><br>
        <label for="input-inventory">inventory:</label>
        <input type="number" id="input-inventory" name="input-inventory"><br>
        <label for="input-inventoryAvailable">inventoryAvailable:</label>
        <input type="number" id="input-inventoryAvailable" name="input-inventoryAvailable"><br>
        <input type="submit" value="Add Rocket" ><br>
    </form>
    <a href="/rockets">Return to Rockets</a>