<h1>Add Trip</h1>
    <form id="add-trip-form" method="POST" action="/add-trip-form">
        <label for="input-destination">destination:</label>
        <input type="text" id="input-destination" name="input-destination" maxlength="145"><br>
        <label for="input-durationDays">durationDays:</label>
        <input type="number" id="input-durationDays" name="input-durationDays"><br>
        <label for="input-tripPrice">price:</label>
        <input type="number" id="input-tripPrice" name="input-tripPrice" step="0.01"><br>
        <input type="submit" value="Add Trip" ><br>
    </form>
    <a href="/trips">Return to Trips</a>